@tailwind base;
@tailwind components;
@tailwind utilities;

progress[value]::-webkit-progress-bar {
  background-color: theme('colors.lightGray2');
  border-radius: theme('borderRadius.lg');
}

progress::-moz-progress-bar {
  background-color: theme('colors.green');
  border-radius: theme('borderRadius.lg');
}

progress[value]::-webkit-progress-value {
  background-color: theme('colors.green');
  position: relative;
  border-radius: theme('borderRadius.lg');
}

.panel-content {
  margin-bottom: 3rem !important;
  font-size: 14px;
}
