[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"
mysqlclient = "*"
django-cors-headers = "*"
environ = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
server = "python manage.py runserver 0.0.0.0:8000"
migrate = "python manage.py migrate"
createsuperuser = "python manage.py createsuperuser"
makemigrations = "python manage.py makemigrations"
seeder = "python manage.py loaddata seeder"
user-seeder = "python manage.py loaddata user"
